.principal{
    border: 1px solid;
    border-radius: 8px;
    display: block;
    box-shadow: 10px 10px 5px grey  ;
    margin-top: 20px;
    width: 30%;
    margin: auto;
    }

.titulo{
    margin-top: 5px;
    text-align: center;
}
