.principal{
    border: 1px solid;
    border-radius: 8px;
    display: block;
    box-shadow: 10px 10px 5px grey  ;
    margin-top: 20px;
    width: 25%;
    margin: auto
    }

.titulo {
    margin-top: 25px;
    text-align: center;
    font-size: x-large;
    }

.titulo2{
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    }

.contenedor-nombre{
    border: 1px solid;
    border-radius: 15px;
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: whitesmoke;
    }

.logo{
    position: fixed;
    margin: 2px 2px;
    border-radius: 10px;
    }

.nombre{
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    }

.verificacion{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    }

.contrasena{
    position: relative;
    margin-left: 35%;

    }

.contrasena2{
    position: relative;
    background-color: lightyellow;
    height: 25px;
    width: auto;
    top:2px;
    margin-bottom: 5px;
    }

.boton1{
    margin-left: 25%;
    margin-top: 20px;
   }

.boton2{
    margin-left:5%;
    background-color: blue;
    height: 30px;
    color: white;
    margin-bottom:50px;
    }
